<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    video, img {
      width: 100%;
      max-width: 400px;
      border-radius: 12px;
    }
    button {
      margin: 8px;
      padding: 10px 16px;
      font-size: 16px;
    }
  </style>
</head>
<body>

<video id="video" autoplay playsinline></video>
<img id="preview" style="display:none;" />

<br>

<button id="captureBtn">Take Photo</button>
<button id="saveBtn" style="display:none;">Save</button>
<button id="predictBtn" style="display:none;">Predict</button>
<canvas id="canvas" style="display:none;"></canvas>

<script>
const video = document.getElementById("video");
const preview = document.getElementById("preview");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");
const captureBtn = document.getElementById("captureBtn");
const saveBtn = document.getElementById("saveBtn");
const predictBtn = document.getElementById("predictBtn");
let isPhotoTaken = false;
let stream = null;

// Open camera
navigator.mediaDevices.getUserMedia({
  video: { facingMode: "environment" }
}).then(s => {
  stream = s;
  video.srcObject = stream;
}).catch(err => {
  console.error("Camera error:", err);
});

// Button click handler
captureBtn.addEventListener("click", () => {
  if (!isPhotoTaken) {
    takePhoto();
  } else {
    resetCamera();
  }
});

// Take photo
function takePhoto() {
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  ctx.drawImage(video, 0, 0);

  preview.src = canvas.toDataURL("image/jpeg", 0.9);
  preview.style.display = "block";
  video.style.display = "none";

  captureBtn.textContent = "Reset";
  saveBtn.style.display = "inline-block";


  // Stop camera
  stream.getTracks().forEach(track => track.stop());

  isPhotoTaken = true;
}

// Reset camera
function resetCamera() {
  preview.style.display = "none";
  video.style.display = "block";

  captureBtn.textContent = "Take Photo";
  saveBtn.style.display = "none";
  predictBtn.style.display = "none";

  isPhotoTaken = false;

  navigator.mediaDevices.getUserMedia({
    video: { facingMode: "environment" }
  }).then(s => {
    stream = s;
    video.srcObject = stream;
  });
}

// Send photo to Python
function savePhoto() {
  const imageData = canvas.toDataURL("image/jpeg", 0.9);

  fetch("/upload", {
    method: "POST",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify({ image: imageData })
  })
  .then(res => res.json())
  .then(data => {
    console.log(data);
  })
  .catch(err => {
    console.error("Upload error:", err);
  });
  predictBtn.style.display = "inline-block";
}

saveBtn.addEventListener("click", savePhoto);

</script>

</body>
</html>
